@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">You must create an account as a seller to create a store </p>
    <a id="register" asp-area="Identity" asp-page="/Account/Register">Register account</a>
    <a id="register" asp-area="Identity" asp-page="/Account/Login">Login account</a>
</header>